/* header bar */
.nav-bar{
  position: fixed;
  width: 95%;
  display: block;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  z-index: 2;
  transition: .3s;
}


.cool-link {
  font-family:  cursive;
  margin-right: 20px;
}

.cool-link a:hover  {
  color: white;
  transition: 0.25s ease-in-out;
  position: relative;
}

.cool-link a::before {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(225, 240, 89);
  position: absolute;
  bottom: -5px;
}

.cool-link.center-to-side:hover a::before {
  width: 100%;
  transition: 0.25s ease-in-out;
}

.cool-link.center-to-side a::before {
  left: 50%;
  transform: translateX(-50%);
}


/* header css */
#header-wrapper {
  background-image: url(../images/image07.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.header-mask {
  height: 100vh;
  background: linear-gradient(rgba(224, 224, 230, 0.075), rgba(154, 156, 161, 0.76));
  /* background-color: rgba(154, 156, 161, 0.452); */
}

.header-container {
  margin: 0 150px;
}

#tittle{
  color: rgb(70, 2, 0);
  font-family: fantasy;
  font-size: 35px;
  text-align: center;
  padding-top: 25vh;
}
/* btn アニメーション */
.animation {
  width: 100px;
  height:50px;
  text-align:center;
  border:2px solid rgba(70, 2, 0, 0.678);
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin: 100px auto;
}
.animation a {
  font-family:arial;
  font-size:12px;
  color: white;
  text-decoration:none;
  line-height:50px;
  transition:all .10s ease;
  z-index:2;
  position:relative;
}
.effect {
  width:140px;
  height:50px;
  top:-2px;
  left:-140px;
  background:#bbbbbbc9;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.animation:hover .effect {
  left:0;
}
.animation:hover a {
  color: rgb(70, 2, 0);
}

/* main1 css */
#main1-wrapper {
  background-color: rgba(193, 198, 212, 0.459);
}

.main1-contents {
  padding: 17vh 40px;
}

.main1-content {
  text-align: center;
}

/* css アニメーション */
.effect-fade {
  opacity : 0;
  transform : translate(0, 50px);
  transition : all 1.5s;
}
  
.effect-fade.effect-scroll {
  opacity : 1;
  transform : translate(0, 0);
}

.main1-content p {
  color: rgb(15, 15, 68);
  font-family: fantasy;
  font-size: 20px;
}

.main1-content h1 {
  color: black;
  font-family: serif;

}

.contents {
  display: flex;
}

.image01 {
  border-radius: 50%;
  margin: 0 25px;
}

.text1 {
 /* text-align: center; */
 font-family: serif;
 margin-bottom: 5px;
}

.tittle {
  /* text-align: center; */
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.text2 {
  /* text-align: left; */
  font-family: serif;
  margin-bottom: 5px;
}

/* アニメーション */
.animation1 {
  width: 100px;
  height:50px;
  text-align:center;
  border:2px solid rgba(25, 16, 87, 0.514);
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  /* margin:70vh 0 0 60vw; */
  margin: auto;
}
.animation1 a {
  font-family:arial;
  font-size:12px;
  color: rgba(25, 16, 87, 0.74);
  text-decoration:none;
  line-height:50px;
  transition:all .10s ease;
  z-index:2;
  position:relative;
}
.effect1 {
  width:140px;
  height:50px;
  top:-2px;
  right:-140px;
  background:#4b48486b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.animation1:hover .effect1 {
  right:0;
}
.animation1:hover a {
  color: rgb(48, 8, 7);
}
/* main2 */
#main2-wrapper {
  background-color: rgba(190, 133, 143, 0.507);
  /* height: 100vh; */
  width: 100vw;
}

.main2-contents {
  background-color: rgba(255, 255, 255, 0.801);
  /* height: 100vh; */
}

.main2-content {
  padding: 10px 30px;
}

.main2-tittle {
  text-align: center;
  margin: 5px 0;
}

.main2-tittle p {
  color: rgb(25, 44, 19);
  font-family: fantasy;
  font-size: 20px;
}

.main2-tittle h1 {
  color: black;
  font-family: serif;
}

.portfolio-contents {
  margin: 0 5vw;
}

#effect2 >div.effect-fade:nth-of-type(2) {
  -moz-transition-delay:200ms;
  -webkit-transition-delay:200ms; 
  -o-transition-delay:200ms;
  -ms-transition-delay:200ms;
}
/* 3つ目の要素に400msのdelayをかける */
#effect2 > div.effect-fade:nth-of-type(3) {
  -moz-transition-delay:400ms;
  -webkit-transition-delay:400ms;
  -o-transition-delay:400ms;
  -ms-transition-delay:400ms;
}

.portfolio-content {
  margin: 10px 4vw;
  padding: 10px 10px;
  display: flex;
  border:  1px solid rgba(128, 128, 128, 0.445);
  background-color: rgba(197, 161, 168, 0.349);
}

.portfolio-content img {
  overflow: hidden;
  width: 300px;
  height: 200px;
}

.portfolio-content img {
  width: 300px;
  display: block;
  transition: 0.5s;
}

.portfolio-content img:hover {
  transform: scale(1.1, 1.1);
}

.portfolio-content > a {
  box-sizing: border-box;
  object-fit: cover;
  margin: 1vh 3vw;
}

.portfolio {
  text-align: left;
  margin: 10px 25px;
}

.portfolio > ul > li > div {
  font-size: 13px;
}

.portfolio > ul > li {
  color: rgb(77, 44, 1);
  padding: 5px 0;
  font-family: serif;
}

.fab {
  color: purple;
}

/* page top スライドボタン */
#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 2;
}
#page_top a {
  background-color: rgba(153, 153, 153, 0.425);
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 40px;
}
#page_top a:hover {
  background-color: rgba(102, 102, 102, 0.836);
  text-decoration: none;
}

/* footer1 */
#footer-wrapper {
  background-color: rgba(190, 133, 143, 0.507);
  width: 100vw;
}

.footer-mask {
  background-color: rgba(255, 255, 255, 0.801);
}

.footer-contents {
  height: 250px;
  margin: 0 10vw;
  text-align: center;
  padding: 50px 0;
}

/* .footer-mask {
  background-color: rgba(193, 198, 212, 0.459);
  height: 30vh;
} */

.footer-content {
  text-align: center;
  padding: 10px 0;
}

.footer-content > p {
  font-family: fantasy;
  font-size: 25px;
  color:  rgb(61, 8, 6);
}

.footer-content > h1 {
  font-family: serif;
  font-weight: bold;
}

.footer-address  {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 40%;
  border-bottom:  1px solid rgba(0, 0, 0, 0.616);
}

.git-hub {
  margin-right: 10vw;
}

.footer-contents > a > i {
  color: black;
}
/* footer2 */
.footer1-wrapper {
  background-image: url(../images/image09.png);
  width: 100vw;
  background-size: cover;
}

.footer1-mask {
  background-color: rgba(193, 198, 212, 0.459);
}

.footer1-mask > p {
  text-align: center;
  font-size:15px;
  padding: 45px 0;
  opacity: 0.6;
}
